
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:ital,wght@0,100;0,400;1,500&display=swap');


body{
    display: none;
    margin: 0;
    padding: 0;
    /* background-image: url('https://media.discordapp.net/attachments/1108632290751414273/1184636513233928303/image.png?ex=658cb1ba&is=657a3cba&hm=01f03225ec82d60469116cf2b27a5bb29a94abecc7deb77dad46ac0c201d9687&=&width=1208&height=676'); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins;
    color: #d2d2d5;
    width: 100%;
    height: 100%;
    user-select: none;
}
.esc{
    position: absolute;
    top: 36px;
    right: 46px;
    width: 32px;
    height: 24px;
    background-color: #c72637;
    box-shadow: 0px 0px 18px 0px #c72637;
    padding: 5px;
    border-radius: 3px;
}
.ucgensey{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #24a492 transparent transparent transparent;
    transform: rotate(0deg);
}
.vinyet{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px -20px 600px 125px rgb(28 38 48) inset;
}
.container{
    position: absolute;
    top: 76vh;
    left: 68vh;
    align-items: center;
    justify-content: center;
}
.background{
    width: 537px;
    height: 233px;
    border-radius: 21px;
    /* padding: 10px; */
    background: rgb(30,52,68);
    background: linear-gradient(158deg, rgb(29 53 70) 0%, rgb(26 41 54) 50%, rgba(25,37,52,1) 100%);
    position: absolute;
}
.npcnedio{
    display: flex;
    background: linear-gradient(0deg, rgba(37,55,71,1) 0%, rgba(62,78,93,1) 47%, rgba(37,55,71,1) 100%);
    padding: 6px;
    width: 481px;
    margin-bottom: 6px;
}
#npcismiaq{
    font-size: 27px;
}
.icindekicontainer{
    margin-top: 15px;
    margin-left: 21px;
    width: 464px;
    height: 10px;
}
.buttonkanka{
    display: flex;
    background: linear-gradient(180deg, rgba(62,78,93,1) 43%, rgba(37,55,71,1) 98%);
    width: 22vh;
    margin: 5px 9px 10px 0px;
    padding: 12px 3px 10px 0px;
    /* justify-content: center; */
    transition: 0.4s;
}

.buttonkanka:hover {
    transform: scale(1.03);
    transition: 0.4s;
}
.buttonsayi{
    transition: opacity 1s ease; /* Geçiş efekti için */
    justify-items: center;
    text-align: center;
    justify-content: center;
    background: #27565a;
    color: #35ac9b;
    float: left;
    padding: 2px;
    font-size: 17px;
    margin: -3px 9px 8px 8px;
    width: 25px;
    height: 25px;
}
#npcmeslekamk{
    font-size: 13px;
    background-color: #27565a;
    color: #24a492;
    padding: 4px 11px;
    justify-items: center;
    justify-content: center;
    margin: 0px 0px 12px 1.5999999999999996vh;
}
.npcbilgileri{
    display: flex;
}
.buttonlar{
    display:flex;
}
.sagtaraf{
    float: right;
}
.soltaraf{
    float: left;
}


